
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans","Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	background-color: darkgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	width: 400px;
	height: 300px;
	margin: 10px auto;
	padding: 1rem;
}

.container>h1 {
	padding: 5px 0;
	font-size: 1.2rem;
	color: #111;
	text-align: center;
	
}
.container>h5 {
	padding: 5px 0;
	font-size: 1rem;
	color: #111;
	text-align: center;
	
}


input{
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	width: 100%;
	border: solid 1px #ccc;
}

form i {
	margin-left: -30px;
	cursor: pointer;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: black;
    border: none;
    color: #fff;
    font-size: 14px;
	border-radius: 5px;
}

button:hover {
    background: gray;
    cursor: pointer;
}
.submit{
	margin-top:10px;
}

