* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(255, 208, 0);
    transition: 0.6s linear;
  }

  #top-heading{
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
  }
  
  .product-card {
    width: 600px;
    background: white;
    padding: 40px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }

 
@media (max-width: 500px) and (max-width:700px) {
  .product-card {
    padding: 20px;
    width: 350px;

    
  
  }
}

@media (max-width: 500px) and (max-width:700px){
  .product-button:hover{
     border: none;
  }
  .product-button{
    padding: 4px 12px;
    border-radius: 10px;
  }
  .product-info{
    font-size: 10px;

  }
  .product-price{
    font-size: 10px
  }
}
  
  .product-card h1 {
    font-size: 22px;
    margin-bottom: 4px;
  }
  
  .product-card p {
    font-size: 13px;
    color: #bbb;
  }
  
  .product-image {
    background-image: url(https://cdn.shopify.com/s/files/1/0661/7423/products/sunset-sherbet-right-zoom_1080x.jpg?v=1655541320);
    width: 50%;
    height: 220px;
    width: 200px;
    margin: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  
  .product-colors .active::after {
    content: '';
    width: 22px;
    height: 22px;
    border: 2px solid #8888;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-price {
    color: black;
    font-size: 26px;
  }
  
  .product-button {
    margin-left: auto;
    color: white;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #000;
    font-size: 15px;
    font-weight: 600;

  }
  
  .product-button:hover {
    transform: scale(0.5 ease-in-out);
    background-color:  gray;
    border: none;
  }

  #footer{
    margin-top: 700px;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
    font-size: 12px;
    padding: 3px 3px 3px 3px;
}
